.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    background-image: url('https://img.freepik.com/vector-premium/banner-flores-fondo-blanco_103688-134.jpg'); 
    background-position: center; 
    background-repeat: no-repeat;
 
}


.list-group {
	width: 50%;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  
}

.list-group-item {
	padding: 10px;
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
    position: relative;
}

.input-item {
	width: 100%;
	padding: 10px;
	border: none;
	outline: none;
}

.input-item::placeholder {
	color: #999;
}

h1 {
	
	margin-bottom: 20px;
    color: pink;
    font-family: 'Dancing Script';
    font-size: 100px;

}

.delete-icon {
    display: none; 
    cursor: pointer; 
    font-size: 16px; 
    color: #ff6f91; 
}
.list-group-item:hover .delete-icon {
    display: inline;
}

.task-item {
    position: relative;
}
